.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: sans-serif;
}

.navbar{
  padding: 0 2em;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks{
  display: none;
}

nav ul{
  padding: 0;
}

nav ul li{
  list-style: none;
  text-align: center;
  padding: 20px 0;
}

nav ul li a{
  text-decoration: none;
  color: rgb(75, 75, 75);
  font-size: 1.2em;
}

nav ul li a:hover{
  color: rgb(31, 31, 31);
  font-size: 1.3em;
}

.show{
  display: block;
}

.hamburger-menu{
  cursor: pointer;
}

.logo{
  color: rgb(75, 75, 75);
  font-weight: 900;
}

footer{
  text-align: center;
  padding: 1.5em;
}

@media (min-width: 660px){

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul{
    display: flex;
  }

  nav ul li{
    margin-left: 2em;
  }

  nav ul li a:hover{
    color: rgb(31, 31, 31);
    font-size: 1.2em;
  }

  .navlinks{
    display: block;
  }

  .hamburger-menu{
    display: none;
  }
}


